@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Book.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Bold.woff') format('woff');
    font-weight: 700;
}

:root {
    font-family: 'Circular Std', sans-serif;
}
